@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f15b22;
}

body {
  font-family: "Work Sans", serif;
}

.para {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
/* Hero section */

.hero {
  height: 100vh;
  background-image: url("img/Bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto;
  text-align: right;
  gap: 35px;
  max-width: 1200px;
}

.hero .content h1 {
  font-size: 65px;
  width: 55%;
}

.hero .content p {
  width: 38%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.hero .content button {
  background-color: var(--primary-color);
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

/* cta section */

.cta {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  padding: 100px;
}

.cta .left-cta {
  position: relative;
  width: 100%;
  height: 100%;
}
.cta .right-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.cta .right-cta h2 {
  font-size: 40px;
}
.cta .right-cta p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #444343;
}

.cta .right-cta .checklist .clist {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cta .right-cta .checklist .clist p {
  font-size: 20px;
}
.cta .right-cta .checklist .clist i {
  color: #16d887;
  font-size: 25px;
}

/* Plans */

.plans h1 {
  font-size: 40px;
  font-weight: 600;
  color: #151414;
  text-align: center;
}

.plans .plansList {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 80px;
}

.plans .plansList h3 {
  font-size: 30px;
  color: #151414;
  margin: 10px 0;
}

.plans .plansList p {
  color: #737272;
  font-size: 20px;
  font-weight: 400;
}

/* callnow section */

.callnow {
  padding: 100px 0;
}

.callnow .callbox {
  padding: 50px;
  border-radius: 8px;
  background-image: url("img/call.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.callnow .callbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f15b22 0%, rgba(241, 91, 34, 0) 100%);
  z-index: -1;
}
.callnow .callbox h4 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  width: 60%;
  line-height: 1.2;
  margin-bottom: 13px;
}
.callnow .callbox button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  background-color: #fff;
  cursor: pointer;
  font-family: work sans;
}

/* footer */

footer {
  background: #151414;
  color: white;
}
.footercont {
  display: flex;
  justify-content: space-between;
}

.footercont .fleft {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  gap: 13px;
}

.footercont .fleft h2 {
  font-size: 45px;
  color: #f8f8f8;
  font-weight: bold;
}

.footercont .fleft p {
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
  font-weight: 300;
}

.footercont .fleft .emailphone {
  display: grid;
  gap: 5px;
}

.footercont .fright{

}

.footercont .fright h4{
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 25px;
}

.footercont .fright input{
  padding: 15px 20px;
  display: block;
  border-radius: 5px;
  background:#151414;
  color: #fff;
  border: 1px solid #dacfcf;
  font-size: 18px;
  margin-bottom: 10px;
}
.footercont .fright input:focus{
  outline: none;
}
.footercont .fright button{
  background: #fff;
  color:var(--primary-color);
  padding: 16px 26px;
  border:none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  font-family: work sans;
  cursor: pointer;
}

.footercont .fleft .socialbox{
  display: flex;
  gap: 20px;
}